body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://cdn.discordapp.com/attachments/1132431322149818480/1214154079161417749/Capture_decran_2024-03-04_a_11.10.18.png?ex=65f8141a&is=65e59f1a&hm=bdf96ba237cbfa9dcf28a9e0dcadc59678218b8ec0e45ee389b1a58ec3d0455e');
    background-size: cover;
    background-attachment: fixed; /* Ne pas fixer le fond pour les appareils mobiles */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    color: white;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    margin-top: 0;
}

.discord-button {
    background-color: #7289DA;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.discord-button:hover {
    background-color: #677BC4;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.images img {
    width: 30%;
    display: block;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
    border-radius: 30%;
}

.images img:hover {
    transform: scale(1.1);
}

.paragraph p {
    width: 60%;
    background: linear-gradient(to right, #00FF00, #FFFF00);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 10%;
}

.paragraph p:hover {
    transform: translateY(-10px);
}

.image-section {
    background-color: #fff; /* Fond blanc */
    padding: 20px;
    margin-top: 20px; /* Espacement par rapport à la section précédente */
    border-radius: 30px;
	color: #010101;
}

.images {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about {
    margin-top: 10%;
    width: 80%; /* Réduire la largeur pour les appareils mobiles */
    color: black;
    background-color: white; /* Fond blanc */
    padding: 20px;
    transition: transform 0.3s ease-in-out;
    margin: 0 auto;
    margin-top: 5%;
    border-radius: 10px; /* Bord arrondi */
}

@media screen and (max-width: 600px) {
    .image-section {
        flex-direction: column;
    }

    .about, .images, .image-section {
        width: 100%;
        text-align: center;
    }
}
